.search-modal__content .search__button,
.search__form-inner .search__button {
  position: static;
  margin-top: 1rem;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .search-modal__content .search__button,
  .search__form-inner .search__button {
    position: absolute;
    top: 0.8rem;
    margin-top: 0;
    min-width: 10.8rem;
    min-height: 5rem;
    width: auto;
    transform: none;
  }
}

.search-modal .predictive-search {
  padding: 0 3rem 3rem;
  max-height: unset;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  min-height: 90vh;
}
@media screen and (min-width: 576px) {
  .search-modal .predictive-search {
    padding: 0 6rem 3rem;
  }
}

.search-modal__search-form {
  position: relative;
}

.predictive-search {
  display: none;
  width: 100%;
  min-height: 4.5rem;
  max-height: 35rem;
  overflow-y: auto;
  z-index: 123;
  padding-bottom: 3rem;
}
@media screen and (min-width: 750px) {
  .predictive-search {
    max-height: 65rem;
  }
}

.predictive-search::-webkit-scrollbar {
  width: 0.4rem;
}

.predictive-search::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-border));
  border-radius: 2rem;
}

.predictive-search--search-template {
  width: 100%;
}

@media screen and (max-width: 989px) {
  .predictive-search {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (min-width: 750px) {
  .header predictive-search {
    position: relative;
  }
}
predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}

.predictive-search__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
  margin: 0 auto;
  padding: 1.5rem 0 0.75rem;
  color: rgba(var(--color-foreground), 0.7);
}

predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
}

predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 2rem;
}

predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}

.predictive-search__list-item:hover .predictive-search__item-heading,
.predictive-search__list-item[aria-selected=true] .predictive-search__item-heading {
  opacity: 0.7;
  text-decoration: none;
}

.predictive-search__result-tabs {
  position: sticky;
  top: 0;
  background: rgb(var(--color-background));
  z-index: 25;
  padding-top: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin-bottom: 2.4rem;
}
.predictive-search__result-tabs:empty {
  margin-bottom: 0;
}
.predictive-search__result-tab {
  cursor: pointer;
  opacity: 0.6;
  transition: all var(--duration-default) linear;
}
.predictive-search__result-tab:hover {
  opacity: 1;
}
.predictive-search__result-tab.active {
  opacity: 1;
}

.predictive-search__results-list_products,
.predictive-search__results-list_pages,
.predictive-search__results-list_collections,
.predictive-search__results-list_articles {
  grid-template-columns: 1fr;
  gap: 3.2rem;
}
.predictive-search__results-list_products .predictive-search__list-item:not(:last-child) .card__inner:after,
.predictive-search__results-list_products .predictive-search__list-item:not(:last-child) .article_img:after,
.predictive-search__results-list_products .predictive-search__list-item:not(:last-child) .collection-grid__item:after,
.predictive-search__results-list_products .predictive-search__list-item:not(:last-child) .card-page:after,
.predictive-search__results-list_pages .predictive-search__list-item:not(:last-child) .card__inner:after,
.predictive-search__results-list_pages .predictive-search__list-item:not(:last-child) .article_img:after,
.predictive-search__results-list_pages .predictive-search__list-item:not(:last-child) .collection-grid__item:after,
.predictive-search__results-list_pages .predictive-search__list-item:not(:last-child) .card-page:after,
.predictive-search__results-list_collections .predictive-search__list-item:not(:last-child) .card__inner:after,
.predictive-search__results-list_collections .predictive-search__list-item:not(:last-child) .article_img:after,
.predictive-search__results-list_collections .predictive-search__list-item:not(:last-child) .collection-grid__item:after,
.predictive-search__results-list_collections .predictive-search__list-item:not(:last-child) .card-page:after,
.predictive-search__results-list_articles .predictive-search__list-item:not(:last-child) .card__inner:after,
.predictive-search__results-list_articles .predictive-search__list-item:not(:last-child) .article_img:after,
.predictive-search__results-list_articles .predictive-search__list-item:not(:last-child) .collection-grid__item:after,
.predictive-search__results-list_articles .predictive-search__list-item:not(:last-child) .card-page:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: -1.6rem;
  background: rgb(var(--color-border));
}
@media screen and (min-width: 576px) {
  .predictive-search__results-list_products,
  .predictive-search__results-list_pages,
  .predictive-search__results-list_collections,
  .predictive-search__results-list_articles {
    grid-template-columns: repeat(2, 1fr);
  }
  .predictive-search__results-list_products .predictive-search__list-item:not(:last-child) .card__inner::after,
  .predictive-search__results-list_products .predictive-search__list-item:not(:last-child) .article_img::after,
  .predictive-search__results-list_products .predictive-search__list-item:not(:last-child) .collection-grid__item::after,
  .predictive-search__results-list_products .predictive-search__list-item:not(:last-child) .card-page::after,
  .predictive-search__results-list_pages .predictive-search__list-item:not(:last-child) .card__inner::after,
  .predictive-search__results-list_pages .predictive-search__list-item:not(:last-child) .article_img::after,
  .predictive-search__results-list_pages .predictive-search__list-item:not(:last-child) .collection-grid__item::after,
  .predictive-search__results-list_pages .predictive-search__list-item:not(:last-child) .card-page::after,
  .predictive-search__results-list_collections .predictive-search__list-item:not(:last-child) .card__inner::after,
  .predictive-search__results-list_collections .predictive-search__list-item:not(:last-child) .article_img::after,
  .predictive-search__results-list_collections .predictive-search__list-item:not(:last-child) .collection-grid__item::after,
  .predictive-search__results-list_collections .predictive-search__list-item:not(:last-child) .card-page::after,
  .predictive-search__results-list_articles .predictive-search__list-item:not(:last-child) .card__inner::after,
  .predictive-search__results-list_articles .predictive-search__list-item:not(:last-child) .article_img::after,
  .predictive-search__results-list_articles .predictive-search__list-item:not(:last-child) .collection-grid__item::after,
  .predictive-search__results-list_articles .predictive-search__list-item:not(:last-child) .card-page::after {
    width: 1px;
    height: 100%;
    right: -1.6rem;
    bottom: 0;
  }
  .predictive-search__results-list_products .predictive-search__list-item:nth-child(2n) .card__inner::after,
  .predictive-search__results-list_products .predictive-search__list-item:nth-child(2n) .article_img::after,
  .predictive-search__results-list_products .predictive-search__list-item:nth-child(2n) .collection-grid__item::after,
  .predictive-search__results-list_products .predictive-search__list-item:nth-child(2n) .card-page::after,
  .predictive-search__results-list_pages .predictive-search__list-item:nth-child(2n) .card__inner::after,
  .predictive-search__results-list_pages .predictive-search__list-item:nth-child(2n) .article_img::after,
  .predictive-search__results-list_pages .predictive-search__list-item:nth-child(2n) .collection-grid__item::after,
  .predictive-search__results-list_pages .predictive-search__list-item:nth-child(2n) .card-page::after,
  .predictive-search__results-list_collections .predictive-search__list-item:nth-child(2n) .card__inner::after,
  .predictive-search__results-list_collections .predictive-search__list-item:nth-child(2n) .article_img::after,
  .predictive-search__results-list_collections .predictive-search__list-item:nth-child(2n) .collection-grid__item::after,
  .predictive-search__results-list_collections .predictive-search__list-item:nth-child(2n) .card-page::after,
  .predictive-search__results-list_articles .predictive-search__list-item:nth-child(2n) .card__inner::after,
  .predictive-search__results-list_articles .predictive-search__list-item:nth-child(2n) .article_img::after,
  .predictive-search__results-list_articles .predictive-search__list-item:nth-child(2n) .collection-grid__item::after,
  .predictive-search__results-list_articles .predictive-search__list-item:nth-child(2n) .card-page::after {
    display: none;
  }
}

.collections-grid__card {
  position: relative;
}

.predictive-search__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0.8rem;
  text-align: left;
  text-decoration: none;
  transition: background var(--duration-default);
}

@media screen and (min-width: 1200px) {
  .predictive-search__item {
    padding: 0.8rem 2rem;
  }
}
.predictive-search__item--link {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-column-gap: 0.8rem;
  grid-template-areas: "product-image product-content";
}

.predictive-search__item-content {
  grid-area: product-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.predictive-search__item-content .price__regular,
.predictive-search__item-content .price-item--sale {
  font-size: 1.3rem;
}

.predictive-search__item-content .price-item--regular {
  color: rgb(var(--color-foreground-secondary));
}

.predictive-search__item-content--centered {
  justify-content: center;
}

.predictive-search__item-vendor {
  margin-top: 0;
}

.predictive-search__item-heading {
  display: inline;
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  background: no-repeat 0 calc(100% - 0.3rem);
  background-image: linear-gradient(rgb(var(--color-accent)), rgb(var(--color-accent)));
  background-size: 0% 0.1rem;
  transition-property: color, background-size, opacity;
  transition-duration: var(--duration-default);
  transition-timing-function: ease;
  font-size: var(--font-heading-card-size);
}

.predictive-search__item--term {
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0.8rem;
  word-break: break-all;
  color: rgb(var(--color-button));
  transition: opacity var(--duration-default);
}

.predictive-search__item--term:hover {
  opacity: 0.7;
}

@media screen and (min-width: 1200px) {
  .predictive-search__item--term {
    padding: 1.3rem 2rem;
  }
}
.predictive-search__item-vendor + .predictive-search__item-heading,
.predictive-search .price {
  margin-bottom: 0.2rem;
}

.predictive-search__image {
  display: block;
  grid-area: product-image;
  flex: none;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  font-family: "object-fit: contain";
}

@media screen and (min-width: 1200px) {
  .predictive-search__image {
    width: 5rem;
    height: 5rem;
  }
}
.collections-grid__information {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem;
  margin-top: 2.4rem;
  width: 100%;
  z-index: 2;
}
.collections-grid__title a {
  position: relative;
  z-index: 1;
  word-break: break-all;
  text-decoration: none;
  color: inherit;
}
.collections-grid__title a svg {
  margin-left: 0.8rem;
  height: 1.4rem;
  width: auto;
}
@media screen and (min-width: 750px) {
  .collections-grid__title a svg {
    height: 1.6rem;
  }
}
.collections-grid__title {
  margin: 0;
  color: #fff;
}
.collections-grid__title:not(:last-child) {
  margin-bottom: 1.2rem;
}
.collections-grid__desc {
  margin: 0;
  font-size: 1.2rem;
  line-height: 145%;
  color: #fff;
}

.template-search__page {
  position: relative;
}
.template-search__page .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(var(--color-base-background-2));
  border-radius: 0.3rem;
}
.template-search__page svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: auto;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 750px) {
  .template-search__page svg {
    width: 7.5rem;
  }
}

.card-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 3rem;
}
@media screen and (min-width: 576px) {
  .card-page {
    padding: 4rem;
  }
}
.card-page__content {
  position: relative;
  z-index: 1;
}
.card-page:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.predictive-search__results-list {
  display: none;
}
.predictive-search__results-list.active {
  display: grid;
}

.predictive-search__results-list {
  overflow: hidden;
}
.predictive-search__results-list .predictive-search__list-item::before {
  content: "";
  position: absolute;
  bottom: -1.6rem;
  left: 0;
  width: 300vw;
  margin-left: -100vw;
  display: block;
  height: 1px;
  background: rgb(var(--color-border));
}
@media screen and (min-width: 576px) {
  .predictive-search__results-list .predictive-search__list-item:first-child::before, .predictive-search__results-list .predictive-search__list-item:last-child::before, .predictive-search__results-list .predictive-search__list-item:nth-child(odd)::before {
    display: none;
  }
}

.predictive-search__list-item {
  position: relative;
}