.list-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}
.list-social a {
  padding: 1.2rem;
}
.list-social .footer-links_mobile-hidden {
  display: none;
}
@media screen and (min-width: 1200px) {
  .list-social {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    gap: 1rem;
  }
  .list-social a {
    padding: 0;
  }
  .list-social .footer-links_mobile-hidden {
    display: block;
  }
}

.list-social__item .icon {
  height: 2rem;
  width: 2rem;
  color: rgba(var(--color-social));
  transition: var(--duration-default);
}

.list-social__link {
  display: flex;
  align-items: center;
  gap: 1rem;
}