.totals {
  display: flex;
}

.totals > * {
  font-family: var(--font-body-family);
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  color: rgba(var(--color-foreground));
  margin: 0;
}

.totals * {
  line-height: 1;
}

@media screen and (min-width: 1540px) {
  .totals > * + * {
    margin-left: 0.5rem;
  }
}
.totals__subtotal-value {
  color: rgb(var(--color-foreground-title));
}

.cart__ctas + .totals {
  margin-top: 2rem;
}