.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}
@media screen and (min-width: 990px) {
  .cart-items td,
  .cart-items th {
    border-bottom: 1px solid rgb(var(--color-border));
  }
}
.cart-items td.text-right,
.cart-items th.text-right {
  text-align: right;
}

.cart-items th {
  padding: 0 0 1.6rem;
  line-height: var(--font-body-line-height);
  text-align: left;
}

.cart-item__totals {
  position: relative;
}
.cart-item__totals .loading-overlay__spinner {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.cart-items *.right {
  text-align: right;
}

.cart-item__media-wrapper {
  width: 8rem;
  overflow: hidden;
  position: relative;
  display: flex;
}
.cart-item__media-wrapper::before {
  content: "";
  display: block;
  padding-bottom: var(--image-ratio);
}
.cart-item__media-wrapper img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (min-width: 1540px) {
  .cart-item__media-wrapper {
    width: 12rem;
  }
}

.cart-item__image {
  max-width: 100%;
}

.cart-item__details {
  font-size: 1.4rem;
  line-height: var(--font-body-line-height);
}

.cart-item__details > * {
  margin: 0;
  max-width: 25rem;
}

.cart-item__details > * + * {
  margin-top: 0.8rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__name {
  display: block;
  font-family: var(--font-heading-card-family);
  font-size: 1.4rem;
  transition: var(--duration-default);
}
.cart-item__name a {
  font-size: inherit;
}
@media screen and (min-width: 1540px) {
  .cart-item__name {
    font-size: 1.8rem;
  }
}

.cart-item__price-wrapper {
  margin: 0;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.2rem;
}
@media screen and (min-width: 750px) {
  .cart-item__discounted-prices {
    flex-direction: row;
  }
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.product-option {
  font-size: 1.2rem;
  line-height: var(--font-body-line-height);
}

.cart-item cart-remove-button {
  display: inline-flex;
}

.cart-item .loading-overlay {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.cart-item__error-text {
  order: 1;
  line-height: var(--font-body-line-height);
}
.cart-item__error-text:not(:empty) {
  margin-top: 0.8rem;
}

.cart-item__error-text + svg {
  width: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 1rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option {
  color: rgba(var(--color-foreground), 0.5);
}

.product-option * {
  display: inline;
  margin: 0;
}

@media screen and (max-width: 989px) {
  .cart-item__quantity {
    order: 1;
    padding: 0 !important;
    flex: 0 0 100%;
  }
  .cart-item__remove {
    display: flex;
    justify-content: flex-end;
    order: 2;
    flex: 0 0 100%;
  }
  .cart-item__media {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .cart-item__details {
    flex: 0 0 80%;
    max-width: 80%;
    display: flex;
    align-items: center;
  }
  .cart-item__option {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .cart-item__prices,
  .cart-item__totals {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 989px) and (min-width: 990px) {
  .cart-item__prices,
  .cart-item__totals {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 989px) {
  .cart-items td {
    padding: 1rem;
  }
}
@media screen and (max-width: 989px) {
  .cart-items thead {
    display: none;
  }
}
@media screen and (max-width: 989px) {
  .cart-items,
  .cart-items tbody,
  .cart-items tr {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 989px) {
  .cart-item__quantity .quantity {
    width: 100%;
  }
}
@media screen and (max-width: 989px) {
  .cart-item__media-wrapper {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 989px) {
  .cart-item {
    border-bottom: 1px solid rgb(var(--color-border));
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
}
.cart-item__prices .price {
  font-weight: 500;
}
.cart-item__prices .cart-item__old-price {
  color: rgba(var(--color-foreground-secondary));
}

.cart-item__totals .price {
  font-weight: 500;
}
.cart-item__totals .cart-item__old-price {
  color: rgba(var(--color-foreground-secondary));
}

.cart-item .cart-item__quantity,
.cart-items .cart-items__heading--wide {
  padding-left: 2rem;
}
@media screen and (min-width: 1540px) {
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 10rem;
  }
}

@media screen and (min-width: 990px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }
  .cart-items th + th {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 990px) and (min-width: 1540px) {
  .cart-items th + th {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 990px) {
  .cart-items td {
    vertical-align: middle;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}
@media screen and (min-width: 990px) {
  .cart-item {
    display: table-row;
  }
}
@media screen and (min-width: 990px) {
  .cart-item > td + td {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 990px) and (min-width: 1540px) {
  .cart-item > td + td {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 990px) {
  .cart-item > td.cart-item__details {
    padding-left: 1.6rem;
  }
}
@media screen and (min-width: 990px) {
  .cart-item__media {
    width: 7rem;
  }
}
@media screen and (min-width: 990px) {
  .cart-item quantity-input {
    margin-top: 0.7rem;
  }
}
@media screen and (min-width: 990px) {
  .cart-items .medium-down {
    display: none;
  }
}
.cart-items .caption-with-letter-spacing {
  font-size: 1.4rem;
}