.card-horizontal-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  overflow: hidden;
  border-left: 0.1rem solid rgb(var(--color-border));
  background-color: rgb(var(--color-background-card));
}
@media screen and (min-width: 576px) {
  .card-horizontal-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.card-horizontal-wrapper .price {
  margin-top: auto;
  margin-bottom: 0;
}
.card-horizontal-wrapper .price-item,
.card-horizontal-wrapper .price .price__sale .price-item--regular {
  font-size: 1.5rem;
}
.card-horizontal-wrapper .price--on-sale .price-item--regular, .card-horizontal-wrapper .price__regular {
  color: rgb(var(--color-base-text));
  text-decoration-color: rgb(var(--color-base-text));
}
.card-horizontal-wrapper:hover .card-horizontal__link {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.card-horizontal__image {
  position: relative;
  max-width: 8rem;
  flex: 1 0 8rem;
  overflow: hidden;
}
@media screen and (min-width: 576px) {
  .card-horizontal__image {
    max-width: 14rem;
    flex: 1 0 14rem;
  }
}
.card-horizontal__information {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  height: 100%;
}
.card-horizontal__information .subtitle {
  color: rgb(var(--color-base-text));
}
.card-horizontal__title {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  color: rgb(var(--color-title-text));
  z-index: 2;
  pointer-events: all;
}
.card-horizontal__title a {
  font-family: var(--font-heading-card-family);
  font-size: 1.6rem;
  font-style: var(--font-heading-card-style);
  font-weight: var(--font-heading-card-weight);
  line-height: var(--font-body-line-height);
  word-break: break-word;
  text-decoration: underline;
  text-decoration-color: rgb(var(--color-accent));
  text-underline-offset: 0.6rem;
  text-decoration-thickness: 0.1rem;
  z-index: 2;
}
.card-horizontal__title svg {
  margin-left: 0.8rem;
  color: currentColor;
  transition: opacity var(--duration-long) ease;
  opacity: 0;
}
.card-horizontal__title:hover svg {
  opacity: 1;
}
.card-horizontal__link {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
  width: auto;
  height: auto;
  min-width: 6.4rem;
  min-height: unset;
  background: none;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(var(--color-base-text), 1);
  background-color: rgb(var(--color-background));
  border: none;
  box-shadow: none;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  z-index: 3;
  pointer-events: all;
  text-align: center;
  transition: transform var(--duration-short);
}
.card-horizontal__link.loading span {
  opacity: 0;
}
.card-horizontal__link .loading-overlay__spinner {
  width: 1.6rem;
  height: 1.6rem;
}
.card-horizontal__link span {
  transition: opacity var(--duration-short);
}
.card-horizontal__link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(var(--color-background));
  z-index: -1;
  transition: transform var(--duration-default) ease;
}
.card-horizontal__link:hover::after {
  transform: scale(1.1);
}
.card-horizontal__description {
  margin-top: 1rem;
  font-family: var(--font-text-card-family);
  font-style: var(--font-text-card-style);
  font-weight: var(--font-text-card-weight);
  font-size: var(--font-text-card-size);
  line-height: var(--font-body-line-height);
}