.multicolumn .multicolumn-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.multicolumn .multicolumn__wrapper-subtitle {
  text-align: center;
  word-break: break-word;
  margin-bottom: 3.2rem;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}
@media screen and (min-width: 990px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--1 {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 990px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper {
    gap: 3.2rem;
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--1 {
    grid-template-columns: 1fr;
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-list__item {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-list__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: rgb(var(--color-border));
  transform: translate(1.2rem);
}
@media screen and (min-width: 990px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-list__item::after {
    transform: translate(1.6rem);
  }
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-list__item:nth-child(n)::after {
  width: 0;
}
@media screen and (min-width: 990px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-list__item:nth-child(n)::after {
    width: 1px;
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--1 .multicolumn-list__item:nth-child(n)::after {
    width: 0;
  }
}
@media screen and (min-width: 1200px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-list__item:nth-child(n)::after {
    width: 1px;
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-list__item:nth-child(2n)::after {
    width: 1px;
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--1 .multicolumn-list__item:nth-child(1n)::after {
    width: 0;
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--2 .multicolumn-list__item:nth-child(2n)::after {
    width: 0;
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--3 .multicolumn-list__item:nth-child(3n)::after {
    width: 0;
  }
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--4 .multicolumn-list__item:nth-child(4n)::after {
    width: 0;
  }
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card {
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  padding: 3rem 6rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media screen and (min-width: 990px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card {
    max-width: 40rem;
    padding: 3rem 0;
    gap: 3.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card {
    max-width: 33rem;
  }
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
@media (min-width: 990px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__info {
    gap: 2.4rem;
  }
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__info-title {
  margin: 0;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__info-text {
  font-size: calc(var(--font-body-size) * 0.75);
}
@media (min-width: 576px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__info-text {
    font-size: var(--font-body-size);
  }
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-item {
  margin: 0 auto;
  position: relative;
  display: block;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-item img,
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-item svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-block {
  margin: 0 auto;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-size-small {
  width: 30%;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-size-medium {
  width: 50%;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-size-large {
  width: 100%;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-size-icon {
  width: 56px;
}
@media (min-width: 576px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-size-icon {
    width: 64px;
  }
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-ratio-landscape {
  padding-bottom: 56.25%;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-ratio-portrait {
  padding-bottom: 125%;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper .multicolumn-card__image-ratio-square {
  padding-bottom: 100%;
}
.multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--1 .multicolumn-card {
  max-width: 60rem;
}
@media screen and (min-width: 990px) {
  .multicolumn .multicolumn__wrapper .multicolumn-list__wrapper--2 .multicolumn-card {
    max-width: 40rem;
  }
}
.multicolumn .multicolumn__wrapper .swiper-buttons__wrapper {
  display: block;
}
@media screen and (min-width: 990px) {
  .multicolumn .multicolumn__wrapper .swiper-buttons__wrapper {
    display: none;
  }
}
.multicolumn .multicolumn__wrapper .horizontal-alignment-left .multicolumn-card {
  text-align: left;
  align-items: flex-start;
}
.multicolumn .multicolumn__wrapper .horizontal-alignment-left .multicolumn-card__info {
  align-items: flex-start;
}

.multicolumn .multicolumn__wrapper .swiper-initialized .multicolumn-list__wrapper {
  display: flex;
  gap: 0;
}