.spaced-section:last-child.contact-section.no-padding {
  padding-bottom: 0 !important;
}

.contact__wrapper {
  position: relative;
}
.contact__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 0;
}
@media screen and (min-width: 990px) {
  .contact__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact__container {
    gap: 7rem;
  }
}
@media screen and (min-width: 990px) {
  .contact__text {
    max-width: 41.3rem;
  }
}
.contact__title {
  letter-spacing: -0.02em;
  margin: 0 0 1.6rem 0;
}
.contact__title > p {
  margin: 0;
}
.contact__desc {
  font-size: 1.8rem;
  line-height: var(--font-body-line-height);
}
.contact-form {
  flex: 1;
}
@media screen and (min-width: 990px) {
  .contact-form {
    max-width: 62rem;
  }
}
.contact .contact__field-error .form__message {
  align-items: flex-start;
  margin: 1rem 0 0;
  font-size: 1.2rem;
  font-weight: var(--font-body-weight);
  color: rgba(var(--color-error));
}
.contact .contact__field-error .form__message:before {
  content: "*";
  color: rgba(var(--color-error));
  margin-right: 0.2rem;
}
@media screen and (min-width: 750px) {
  .contact__fields {
    display: flex;
    grid-column-gap: 2.4rem;
  }
}
.contact .field {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 750px) {
  .contact .field__name {
    max-width: 19.6rem;
  }
}
@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2.4rem;
  }
}
.contact .text-area {
  min-height: 13.4rem;
}
.contact__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.4rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 750px) {
  .contact__bottom {
    margin-top: 2.4rem;
  }
}
.contact__bottom .button {
  min-width: 17.2rem;
}
.contact__add-text {
  font-size: 1.2rem;
  line-height: var(--font-body-linhe-height);
  color: rgba(var(--color-foreground), 0.6);
}
.contact__add-text a {
  text-decoration: none;
  transition: color var(--duration-default);
}
.contact__add-text a:hover {
  color: rgba(var(--color-foreground), 0.6);
}
.contact__add-text > * {
  margin: 0;
}
.contact .icon-success {
  margin-top: 0.2rem;
}

.grecaptcha-badge {
  visibility: hidden;
}