.main-cart__wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .main-cart__wrapper {
    flex-wrap: unset;
    gap: 6;
  }
}
@media screen and (min-width: 1540px) {
  .main-cart__wrapper {
    gap: 12rem;
  }
}
.main-cart .section-header__line {
  margin-bottom: 3.2rem;
  padding: 3.2rem 0;
}

.cart__blocks {
  gap: 1.6rem;
}
.cart__blocks-content {
  padding: 3rem 2rem;
  width: 100%;
  background: rgb(var(--color-background-input));
  border: 1px solid rgb(var(--color-border-input));
}
@media screen and (min-width: 1540px) {
  .cart__blocks-content {
    padding: 3rem;
  }
}

#main-cart-footer {
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  #main-cart-footer {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.cart__footer {
  padding: 0;
  display: block;
}
.cart__footer .totals__subtotal-text {
  color: rgb(var(--color-foreground-secondary));
}

.cart__ctas {
  width: 100%;
}

.cart-item {
  color: rgb(var(--color-foreground-title));
}
@media screen and (min-width: 990px) {
  .cart-item:first-child .cart-item__remove {
    position: relative;
  }
  .cart-item:first-child .cart-item__remove::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 100%;
    left: 0;
    background: rgb(var(--color-border));
  }
}

.totals {
  justify-content: space-between;
  gap: 1rem;
}
.totals__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.totals > * {
  font-size: 1.4rem;
}
@media screen and (min-width: 1540px) {
  .totals > * {
    font-size: 1.5rem;
  }
}
.totals__subtotal {
  font-weight: 600;
  font-family: var(--font-subtitle-family);
}
.totals__subtotal-value {
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .totals {
    flex-direction: column;
  }
}
@media screen and (min-width: 1540px) {
  .totals {
    flex-direction: row;
    gap: unset;
  }
}