.product-recommendations {
  display: block;
  --gap: 1.6rem;
  --grid-width: 100%;
}
@media screen and (min-width: 750px) {
  .product-recommendations {
    --grid-width: calc(50% - (var(--gap) * (1 - 1 / var(--per-row))));
  }
}
@media screen and (min-width: 1200px) {
  .product-recommendations {
    --gap: 3.2rem;
    --grid-width: calc(
    	100% / var(--per-row) - (var(--gap) * (1 - 1 / var(--per-row)))
    );
  }
}
.product-recommendations .product-recommendations__product {
  width: var(--grid-width);
  transition: opacity var(--duration-default);
}
@media screen and (min-width: 750px) and (max-width: 1200px) {
  .product-recommendations .product-recommendations__product:not(:nth-child(2n)):not(:last-child) .card__inner {
    position: relative;
  }
  .product-recommendations .product-recommendations__product:not(:nth-child(2n)):not(:last-child) .card__inner::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    pointer-events: none;
  }
}
@media screen and (min-width: 1200px) {
  .product-recommendations .product-recommendations__product:not(.hide_border):not(:last-child) .card__inner {
    position: relative;
  }
  .product-recommendations .product-recommendations__product:not(.hide_border):not(:last-child) .card__inner::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    pointer-events: none;
  }
}
.product-recommendations__list {
  display: flex;
  flex-wrap: wrap;
  margin: 2.4rem 0 0;
  padding: 0;
  gap: var(--gap);
}