.instagram-collage__images .instagram-collage__image-block {
  --gap: 16px;
  gap: var(--gap);
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 576px) {
  .instagram-collage__images .instagram-collage__image-block {
    --gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .instagram-collage__images .instagram-collage__image-block {
    grid-template-columns: repeat(var(--per-row), 1fr);
  }
}
.instagram-collage__images .instagram-collage__image-box {
  position: relative;
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  .instagram-collage__images .instagram-collage__image-box:not(.collection-grid-one):not(:nth-child(2n)):not(:last-child) .instagram-collage__image-item {
    position: relative;
  }
  .instagram-collage__images .instagram-collage__image-box:not(.collection-grid-one):not(:nth-child(2n)):not(:last-child) .instagram-collage__image-item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .instagram-collage__images .instagram-collage__image-box:not(.hide_border):not(:last-child) .instagram-collage__image-item {
    position: relative;
  }
  .instagram-collage__images .instagram-collage__image-box:not(.hide_border):not(:last-child) .instagram-collage__image-item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    top: 0;
  }
}
.instagram-collage__images .instagram-collage__image-item {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.instagram-collage__images .instagram-collage__image-item * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}