.collection-list {
  --gap: 1.6rem;
  --grid-width: 100%;
}
.collection-list.collection-grid-one {
  --grid-width: 100%;
}
@media screen and (min-width: 576px) {
  .collection-list {
    --grid-width: calc(50% - (var(--gap) * (1 - 1 / var(--per-row))));
  }
}
@media screen and (min-width: 1200px) {
  .collection-list {
    --gap: 3.2rem;
    --grid-width: calc(
    	100% / var(--per-row) - (var(--gap) * (1 - 1 / var(--per-row)))
    );
  }
}
.collection-list .collection-product-list {
  display: flex;
  gap: var(--gap);
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  align-self: flex-start;
}
.collection-list .collection-product-list li {
  width: var(--grid-width);
  position: relative;
  z-index: 1;
}
.collection-list .collection-product-list li img,
.collection-list .collection-product-list li svg {
  transition: transform var(--duration-long) ease;
}
.collection-list .collection-product-list li:hover img,
.collection-list .collection-product-list li:hover svg {
  transform: scale(1.12);
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
  .collection-list .collection-product-list li:not(.collection-grid-one):not(:nth-child(2n)):not(:last-child) .collection-grid__item {
    position: relative;
  }
  .collection-list .collection-product-list li:not(.collection-grid-one):not(:nth-child(2n)):not(:last-child) .collection-grid__item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    pointer-events: none;
  }
}
@media screen and (min-width: 1200px) {
  .collection-list .collection-product-list li:not(.hide_border):not(:last-child) .collection-grid__item {
    position: relative;
  }
  .collection-list .collection-product-list li:not(.hide_border):not(:last-child) .collection-grid__item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(var(--color-border));
    right: calc(var(--gap) / -2);
    pointer-events: none;
  }
}

@media screen and (min-width: 990px) {
  .collection-product .pagination-wrapper {
    margin-top: 11.2rem;
  }
}